.user{
    position: relative;
    float: right;
    left:-20px;
    top:5px;
}
.logo{
    float:left;
    position: relative;
    left:20px;
    top:5px;
}
h1{
    font-family: Florence, cursive;  
    position: absolute;
    top: -10px;
    left: 100px;
}
.line {
    border: none; 
    background-color: rgb(0, 0, 0); 
    height: 2px; 
    position: relative;
    top: 70px;
    
   }

#images{
    position: absolute;
    top: 150px;
    left:80px;
}
.photo1{
    position: relative;
    top: -250px;
    border:3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.photo2{
    position: relative;
    top: -300px;
    border:3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.photo3{
    
    border:3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.photo4{
    position: relative;
    top: -300px;
    border:3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.photo5{
    position: relative;
    top: -300px;
    border:3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.photo6{
    position: relative;
    top: -300px;
    border:3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
#info{
    font-family: Florence, cursive; 
    position: relative;
    float: right;
    top:90px;
}
#search{
    position: relative;
    float: center;
    top:10px;
    left: 800px;
}