header{
    position: relative;
    margin: 0, auto;
}
.user {
    position: relative;
    float: right;
    left: -1%;
    top: 5px;
}

.logo {
    float: left;
    position: relative;
    left: 1%;
    top: 5px;
}

h1 {
    font-family: Florence, cursive;
    position: absolute;
    top: -12px;
    left: 7%;
}

#search {
    position: relative;
    top: 20px;
    display: block;
    margin-left: 45%;
    margin-right: 65%;
}


.line {
    border: none;
    background-color: rgb(0, 0, 0);
    height: 2px;
    position: relative;
    top: 70px;

}

#info {
    font-family: Florence, cursive;
    position: relative;
    float: right;
    top: 90px;
}

#images {
    margin: 100px auto;
    position: relative;
    
}

.photo1 {
    position: absolute;
    top: 50px;
    left: 0px;
    border: 3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.photo2 {
    position: absolute;
    top: 50px;
    left: 590px;
    border: 3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.photo3 {
    position: absolute;
    top: 50px;
    left: 1180px;
    border: 3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.photo4 {
    position: absolute;
    top: 620px;
    left: 0px;
    border: 3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.photo5 {
    position: absolute;
    top: 570px;
    left: 590px;
    border: 3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.photo6 {
    position: absolute;
    top: 870px;
    left: 1180px;
    border: 3px solid #85A0C9;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}