.startPage #info {
    font-family: monospace;
    font-size: 1.5em;
    position: relative;
    float: right;
    top:100px;
    right: 20px;
    
}

#images {
    left:7%;
  position: relative;
  top:200px;
  margin-left: auto;
  margin-right: auto;
  width: 1590px; 
}
