.signOut{
  text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top:130px;
    float: right;
    right:2%;
    cursor: pointer;
    user-select:none;
    padding:10px 25px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.addPhoto{
  text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top:200px;
    float: right;
    right:2%;
    cursor: pointer;
    user-select:none;
    padding:5px 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.userLogo{
  position: relative;
  top: 200px;
  left:200px;
  border: 1px solid rgb(0, 0, 0);
}
.name{
  position: absolute;
  top: 280px;
  left:550px;
  font-family: monospace;
  font-size: 2em;
}
.profilePage #info {
  font-family: monospace;
  font-size: 1.5em;
  position: relative;
  top: 320px;
  left: 490px;
  
} 
input[type=file]{
  font-size: 150%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 8px 60px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
   margin: 15px; 
   user-select:none;
}

input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.imgButton{
position: relative;
top: 250px;
margin-left: auto;
margin-right: auto;
width: 450px;
}
  .posts{
    font-size: 150%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px 60px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
     margin: 15px; 
     user-select:none;
}
.posts:active {
  color: rgb(121, 121, 121);
  border: 1px solid rgb(121, 121, 121);
}
.tagged{
    font-size: 150%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 8px 50px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    margin: 15px;
    user-select:none;
}  
.tagged:active {
  color: rgb(121, 121, 121);
  border: 1px solid rgb(121, 121, 121);
}
.imgProfileOut{
  position: relative;
  top:300px;
  margin-left: auto;
  margin-right: auto;
  width: 1300px; 
}

/* .addPhoto .inpSUB{color:#555;padding:0;width:200px;margin:auto;display:block;border:2px solid rgb(0, 0, 0)}.addPhoto .inpSUB:hover,
.addPhoto .inpSUB:focus{color:#888;border-color:#888}
.addPhoto .inpIMG{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.addPhoto .inpIMG + .inpSUB{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.addPhoto .inpIMG + .inpSUB .icon:before{content:"\f093"}
 */
